// ==================================================
//
// COLORS
// ==================================================


//General
$black: #000000;
$grey-96: #090a0a;
$grey-92: #131414;
$grey-90: #161718;

$grey-70: #454546;
$grey-50: #797979;
$grey-40: #999999;
$grey-30: #babbbb;

$grey-10: #e6e6e6;
$grey-02: #fafafa;
$grey-04: #f3f4f4;
$white: #ffffff;

//Forms
$errors: #fe002d;

// Colors
$color-purple: #542790;
$color-blue: #4eb7f5;
$color-green: #65c86c;
$color-yellow: #fabf4d;
$color-orange: #e77631;
$color-red: #ee2c38;
$color-white: #ffffff;
$color-black: #313131;
