@import "../tools/colors";

.title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5em;

  &--main {
    font-size: 2em;
    margin-top: 1em;

  }

  &--section {
    font-size: 1.5em;
    margin: 1em 0 0.5em;
  }
}
